/* banner */
.banner_width{width:100%; height:20%; border-bottom:#f00 solid 1px;}
.banner_bg_level1{background-color:#7db364;}
.banner_bg_level2{background-color:#e3b649;}
.banner_bg_level3{background-color:#e38748;}
.banner_bg_level4{background-color:#e07373;}
.banner_bg_level5{background-color:#9590c9;}
.banner_bg_level6{background-color:#9f6aa2;}

.logo {font-size: 48px; color:#fff}
.city_name {font-size:48px;color:#fff}
.city_desc {font-size:36px;color:#fff; opacity:0.5}
.updatedtime {font-size:24px;color:#fff}
.bo_num {font-size:36px; color:#fff}
.bo_name {font-size:14px; color:#fff}
.bo_info {font-size:24px; color:#fff}

a:{text-decoration:none}
a:visited {color:#fff}
a:hover {color:#fff}
a:active {color:#fff}
