a {text-decoration:none}
a:visited {color:#fff}
a:hover {color:#fff}
a:active {color:#ff}

body {width: 100%}

/* banner */
.banner_width{width:100%; height:20%; border-bottom:#f00; margin:0 auto;}
.banner_bg_level1{width:96%; height:20%; background-color:#4fcc00;}

.white-char {color:#fff}
.bottom-align {line-height:150%;}
.center-align {
    position:center;
}
/*
*/
